ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page19960726.html

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^contacts$ page20058369.html [NC]
RewriteRule ^contacts/$ page20058369.html [NC]

RewriteRule ^events$ page31894370.html [NC]
RewriteRule ^events/$ page31894370.html [NC]

RewriteRule ^members/ ma_start.html [NC]

RewriteRule ^favicon.ico$ https://static.tildacdn.com/tild3239-6531-4361-b961-373666306266/favicon.ico [R=302,L]

